/********************
    VARIABLES 
*********************/
:root {
    --blue: #002b5a;
    --lightBlue: #4987ca;
    --black: #333;
    --grey: #e2e2e2;
    --lightGrey: #f3f3f3;
    --dardGrey: #666;
    --white: #fff;
}

/********************
    GENERAL  
*********************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: var(--grey);
}

h1,
h2 {
    margin-bottom: 42px;
    text-transform: capitalize;
    font-weight: 300;
}

h1,
h2,
h3 {
    color: var(--blue);
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 15px;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

figure img {
    width: 100%;
}

a{
    text-decoration: none;
}

/********************
    UTILITY CLASSES
*********************/
.container {
    max-width: 960px;
    margin: 0 auto;
}

.bg-lightGrey {
    background-color: var(--lightGrey);
}

.btn {
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 2px #fff inset;
    border-radius: 3px;
    border: none;
    position: relative;
    padding-right: 30px;
}

.btn-white {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--blue) !important;
}

.btn-blue {
    background-color: var(--blue);
    border-color: var(--blue);
    color: var(--white);
}

.btn-blue:hover{
    color: var(--white);
}

.arrow{
    position: absolute;
    top: 5px;
    right: 15px;
}

@media screen and (max-width: 560px){
    .btn{
        width: 100%;
        text-align: inherit;
    }
}

/*********************
    BANNER
**********************/

.jumbotron {
    padding: 0;
    position: relative;
}

.jumbotron .hero {
    max-width: 100%;
}

.social-links {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 20%;
    color: var(--white);
    font-size: 12px;
}

.social-links li img {
    margin-right: 1px;
    width: 12px;
}

.social-links li:nth-of-type(1) {
    margin-right: 5px;
}

@media screen and (max-width: 560px) {
    .social-links {
        display: none;
    }
}

/*********************
    HEADER
**********************/

header p {
    color: var(--black);
    font-size: 18px;
}

.state-finder{
    width: 95%;
    height: 150px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.state-finder p {
    color: var(--blue);
    font-size: 12px;
    margin-bottom: 5px;
}

.state-finder #state-finder {
    border-radius: 3px;
    padding: 1em;
}

.state-finder a{
    display: inline-block;
    height: 100%;
    padding: 1px 2px 4px;
}

.state-finder h2 {
    margin-bottom: 24px;
    font-size: 20px;
}

#state-finder option{
    color: var(--blue);
    font-size: 12px;
}

/* MODAL */
.modal .close{
    font-size: 15px;
}

/*******************
    GRAVIDA SECTION
********************/
.gravida-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section.gravida h3 {
    margin-bottom: 5px;
}

section.gravida p {
    font-size: 12px;
    text-align: justify;
}

section.gravida,
section.products {
    padding: 2em;
}

@media screen and (max-width: 768px) {
    .gravida-grid {
        grid-template-columns: 1fr;
    }
}

/*********************
    PRODUCT
**********************/
.products {
    margin-top: 5px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.select-price label{
    padding: 5px 10px;
}

.select-price select{
    width: 150px;
}

.products .card {
    background-color: var(--white);
    padding: 1em;
}

.products .card .card-top{
    height: 60%;
}

.product-title {
    color: var(--blue);
    font-size: 17px;
}

.products .price {
    color: var(--lightBlue);
    font-size: 13px;
    margin: 1em 0;
    display: block;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item p{
    font-size: 13px;
}



.products-grid .product-item figure,
.products-grid .product-item img {
    width: 100%;
}

.products .link {
    font-size: 13px;
    color: var(--darkGrey);
    cursor: pointer;
    text-decoration: none;
}

.link .arrow{
    position: static;
    padding-left: 3px;
}

.link .arrow img{
    width: auto;
    height: auto;
}

@media screen and (max-width: 768px) {
    .products-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 560px) {
    .select-price label{
        display: none;
    }
    .products-grid {
        grid-template-columns: 1fr;
    }
}

/***********************
    PRODUCT DETAILS BOX
************************/
#product-detail {
    background-color: var(--white);
    position: relative;
    padding: 2em;
    display: none;
}

#close {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}

#product-detail .product-title{
    font-size: 24px;
    margin-bottom: 0;
}

#product-detail .price{
    font-size: 19px;
}

#product-detail ul {
    line-height: 2em; 
}

#product-detail ul li span{
    background:url(../images/1-6-bullet-sprite.png) no-repeat;
    width: 16px;
    height: 20px;
    padding-top: 10px;
    margin-right: 20px;
    display: inline-block; 
    transition: all 300ms ease-in;
}

#product-detail ul li span.one{
    background-position: -33px -23px;   
}

#product-detail ul li span.two{
    background-position: -33px -66px;   
}

#product-detail ul li span.three{
    background-position: -33px -110px;   
}

#product-detail ul li:hover span{
    transform: scale(1.2);
}

